  name: Create Android Release

  on:
    push:
      tags:
        - 'v*.*.*' # The workflow runs for tags matching the pattern vX.X.X, e.g., v1.0.0

  permissions:
    contents: write

  jobs:
    build_and_release:
      name: Build and Release APK
      runs-on: ubuntu-latest

      steps:
        - name: Check out the repository
          uses: actions/checkout@v4

        - name: Set up JDK 17
          uses: actions/setup-java@v4
          with:
            java-version: '17'
            distribution: 'temurin'
            cache: 'gradle'

        - name: Set up Gradle
          uses: gradle/actions/setup-gradle@v3

        - name: Make gradlew executable
          run: chmod +x ./gradlew

        - name: Build the release APK
          run: ./gradlew :app:assembleRelease

        - name: Create or Update GitHub Release and Upload APK
          uses: ncipollo/release-action@v1
          with:
            artifacts: "app/build/outputs/apk/release/app-release-unsigned.apk"
            token: ${{ secrets.GITHUB_TOKEN }}
            allowUpdates: true
            removeArtifacts: false
            artifactErrorsFailBuild: true
